@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playwrite+CU:wght@100..400&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Libre Baskerville", serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

img{
    /* make the image black and white image. */
    /* filter: grayscale(); */

    /* This is use to blur an an image. */
    /* filter: blur(2rem); */

    /* use to0 handel the brightnness. 
    by default the brightness of the image is 100% and if we go less than 1000% it will be dark if we go 100% above it will ligher.
    */
    /* filter: brightness(80%); */

/* this will elivate the dark color more */
    /* filter: contrast(150%); */


    /* filter: saturate(2); */

    /* it make the image look like exray. */
    /* filter: invert(); */

    /* using multiple filter in a single filter */

filter: grayscale() blur(1rem);
}